{% extends "base.html.twig" %}
{% block title %}ListeCategorie{% endblock %}
{% block transparant %}{% endblock %}
{% block body %}
<!-- Category -->

    <!-- Category -->
    <section>
        <div class="container pt-5 mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <div class="heading pb-4">
                        <h5 class="lis-light">Find the best places</h5>
                        <h2 class="f-weight-500">Find Listings by Category</h2> </div>
                </div>
            </div>
            <div class="row">
    {% for categorie in categories  %}
                <div class="col-12 col-sm-6 col-xl-3 mb-4 wow fadeInUp">
                    <div class="card lis-brd-light text-center text-lg-left lis-info lis-relative">
                        <a href="#">
                            <div class="lis-grediant grediant-tb-light lis-relative modImage rounded"> <img src="{{ asset('images/slide5.jpg') }}" alt="" class="img-fluid rounded" /> </div>
                            <div class="lis-absolute lis-left-20 lis-top-20 lis-bg6 lis-icon lis-rounded-circle-50 text-center">
                                <div class="text-white mb-0 lis-line-height-2_5 h4"><i class="icofont icofont-medical-sign-alt"></i></div>
                            </div>
                            <div class="clearfix">
                                <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                    <A href="#" class="text-white"><i class="icofont icofont-travelling px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                    <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                <div class="float-none float-lg-right mt-1">

                                    <a href="#" class="lis-light lis-f-14">{{ render (controller('SlimBundle:Favoris:favoris',{'id': categorie.id})) }}</a>
                                     </div>
                            </div>
                        </a>
                        <div class="hover-text lis-absolute lis-left-20 lis-bottom-20 lis-font-roboto text-white text-left">
                            <h6 class="text-white mb-0">{{ categorie.nom }}</h6> <span class="lis-font-roboto"> </span> </div>
                    </div>
                </div>
        {% endfor %}

            </div>
        </div>
    </section>
    <!--End Category -->

<!--End Category -->
{% endblock %}