{% extends "base.html.twig" %}
{% block title %}updateReservation{% endblock %}
{% block transparant %}{% endblock %}
{% block body %}
    <section>
        {{ form (form) }}
    </section>
{% endblock %}