{% extends 'base.html.twig' %}
{% block title %} Contact {% endblock %}
{% block transparant %} {% endblock %}

{% block body %}
    <section class="lis-bg-light pb-5">
        <div class="container pt-5">
            <div class="row wow fadeInUp">
                <div class="col-12 col-sm-6">
                    <div class="page-title">
                        <h2>Contact</h2>
                        <p class="mb-0">Aenean leo ligula, porttitor consequat.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 text-left text-sm-right">
                    <ol class="breadcrumb mb-0 pl-0 bg-transparent">
                        <li class="breadcrumb-item d-inline-block float-none"><a href="{{ path('App_bon_plan_home') }}" class="lis-light">Home</a></li>
                        <li class="breadcrumb-item d-inline-block float-none active">Contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Inner -->
    <!-- Contact Us -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                    <h6 class="lis-font-weight-500"><i class="fa fa-commenting pr-2 lis-f-14"></i>  Drop us a line</h6>
                    <div class="card lis-brd-light wow fadeInUp">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group lis-relative">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Your Name">
                                        <div class="lis-search"> <i class="fa fa-user lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group lis-relative">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Email address">
                                        <div class="lis-search"> <i class="fa fa-envelope lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group lis-relative">
                                        <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Subject">
                                        <div class="lis-search"> <i class="fa fa-drivers-license-o lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group lis-relative mb-0">
                                        <textarea class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Message"></textarea>
                                        <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12"> <a href="#" class="btn btn-primary btn-default mt-3"> Submit Now</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <h6 class="lis-font-weight-500"><i class="fa fa-map-o pr-2 lis-f-14"></i>  Find Us There</h6>
                    <div id="map" class="w-100" style="height: 180px;"></div>
                    <dl class="row mb-0 mt-4 lis-line-height-2"> <dt class="col-xl-3 col-sm-4 lis-font-weight-500 lis-dark">Address:</dt>
                        <dd class="col-xl-9 col-sm-8">XXXXXXXXXXXXXXXX</dd> <dt class="col-xl-3 col-sm-4 lis-font-weight-500 lis-dark">Phone:</dt>
                        <dd class="col-xl-9 col-sm-8">XXXXXXXXXXXXXXXX</dd> <dt class="col-xl-3 col-sm-4 lis-font-weight-500 lis-dark">Fax:</dt>
                        <dd class="col-xl-9 col-sm-8">XXXXXXXXXXXXXXXX</dd> <dt class="col-xl-3 col-sm-4 lis-font-weight-500 lis-dark">Timing:</dt>
                        <dd class="col-xl-9 col-sm-8">XXXXXXXXXXXXXXXX</dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjsIpyXFoB7_5_E2DgO_-CTDMHKM0cW4I&amp;sensor=false&amp;callback=initialize"></script>
    <script src="{{ asset('js/single-map.js') }}"></script>
{% endblock %}